<!DOCTYPE html>
<html>
<head>
  <title>BinspiringStem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<a style="float:left" href="http://binspiring.org/" >
	<img src="assets/logo.png" style="width=100px; height=100px">
</a>
<br>
<h1>&nbsp;&nbsp;B. Inspiring's Technology Workshop</h1>
<h3><i>Front End Development, The Building Blocks of Success</i></h3>
</div>
<%= yield %>

</body>
</html>
