<h1>The Internet</h1>

<h2>How is it created?</h2>
<h4>Front End</h4>
<ul>
	<li><p>Everything we can see (What you see now)</p></li>
</ul>
<h4>Back End</h4>
<ul>
	<li><p>Provides the content</p></li>
</ul>

<h2>Front End</h2>
<h4>HTML (Structure) </h4>
<ul>
	<li>Hyper Text Mark-Up Language</li>
	<li>Notice "Mark-up", Not a Programming Language</li>
	<li>Tells the browser the structure of elements in the website</li>
</ul>
<h4>CSS (Style) </h4>
<ul>
	<li>Cascading Style Sheet</li>
	<li>Tells the browser how to display each element</li>
</ul>

<h4>Javascript (Function) </h4>
<ul>
	<li>Makes webpages interactive</li>
</ul>

<h2>HTML</h2>
<ul>
	<li>A series of tags which tell the browser the structure of the webpage</li>
	<xmp>
	<identifier>some content</identifier>
	</xmp>
	<li>Keywords tell the browser what to do</li>
	<xmp>
	Wrapper <div>

	Image <img>

	Heading <h1>

	Paragraph <p>

	Italics <i>

	Underline <u>

	Bold <b>

	and many more...

	</xmp>
	<li>This webpage (www.binspiringstem.com/internet) is only HTML</li>
	<br>
	<img src="assets/html.png" width="700" height="600">
</ul>

<h2>CSS</h2>
<ul>
	<li>CSS lets us style the webpage</li>
	<ul>
		<li>Colors, borders, shadows, background images</li>
		<li>Size, position, display style</li>
	</ul>
	<li>Selectors</li>
	<ul>
		<li>Tell the browser which element to style</li>
		<xmp>
		#id    .class
		</xmp>
	<img src="assets/css.png" width="400" height="500">
	</ul>
</ul>
<h2>A Neat Little Trick</h2>
<ul>
	<li>Right-Click the page</li>
	<li>Click "View Page Source"</li>
	<br><br>
	<li>What do you see?</li>
	<br><br>
	<li>Now go to any other website</li>


</ul>

