<xmp>

<!DOCTYPE html>
<header>
  <title> Title</title>
  <h1> To access the template code: </h1>
</header>
<body>
  <nav>
    <h3> 
      <p>Right click somewhereon this page </p>
      <p>Select "View Page Source" </p>
      <p>Header 5 </p>
      <p>Header 1 </p>
    </h3> 
  </nav>


  <section>
    <h1>Header 1 - Title</h1>
    <p> Sentence 1</p>
    <p> Sentence 2</p>
    <p> Sentence 3 </p>

  </section>

  <section2>
    <img src="placeholder.jpg" width="340" height="300">
  </section2>

  <footer>
    B.Inspiring
  </footer>

</body>
</html>
<!--
<style>
  header {
    background-color: gray;
    color:white;
    text-align:center;
    padding:5px; 
  }
  nav {
    line-height:30px;
    background-color:#eeeeee;
    color: black;
    height:300px;
    width:300px;
    float:left;
    padding:5px; 
  }
  section {
    width:350px;
    float:left;
    padding:10px; 
  }
  #section2 {
    float:right;
  }
  footer {
    background-color:gray;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
  }
</style>
-->

</xmp>