<xmp>

<!DOCTYPE html>
<header>
  <title> University of Sydney</title>
    <img src="http://sydney.edu.au/etc/designs/corporate-commons/bower_components/corporate-frontend/dist/assets/img/USydLogo.svg" height="100" width="400">
</header>
<body>
  <nav>
    <h3> 
      <p><a href="http://sydney.edu.au/study.html">Courses</a></p>
      <p><a href="http://sydney.edu.au/about-us.html">About Us</a><p>
      <p><a href="http://sydney.edu.au/campus-life.html">Campus Life</a></p>
    </h3> 
  </nav>


  <section>
    <p> The University of Sydney (informally Sydney University, Sydney Uni, USyd, or Sydney) is an Australian public research university in Sydney, Australia. Founded in 1850, it is Australia's first university and is regarded as one of the country's leading universities. It is also consistently ranked among the world's leading universities. It is particularly strong in the fields of Medicine, Law, Business and Arts; with the 2016 QS World University Rankings by Subject ranked USyd to be 9th in Education, 11th in Law, 17th in Medicine and 18th in Accounting and Finance globally.</p>

    <p> The university comprises 16 faculties and schools, through which it offers bachelor, master and doctoral degrees. In 2011 it had 32,393 undergraduate and 16,627 graduate students.</p>

    <p> The University of Sydney is a member of the prestigious Group of Eight, Academic Consortium 21, the Association of Pacific Rim Universities (APRU), the Association of Southeast Asian Institutions of Higher Learning, the Australia-Africa Universities Network (AAUN), the Association of Commonwealth Universities and the Worldwide Universities Network. The university is colloquially known as one of Australia's sandstone universities. Its campus is ranked in the top 10 of the world's most beautiful universities by the British Daily Telegraph and The Huffington Post, spreading across the inner-city suburbs of Camperdown and Darlington. </p>

  </section>



  <footer>
    B.Inspiring
  </footer>

</body>
</html>

<style>
  header {
    background-color:#ff471a;
    color:black;
    text-align:center;
    padding:5px; 
  }
  nav {
    line-height:30px;
    background-color:#eeeeee;
    color: black;
    height:300px;
    width:300px;
    float:left;
    padding:5px; 
  }
  section {
    width:800px;
    float:left;
    padding:10px; 
  }
  #section2 {
    float:right;
  }
  footer {
    background-color:gray;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
  }
</style>


</xmp>